@CHARSET "ISO-8859-1";

div#link-back {
    padding-bottom: 0;
}

ul#forums-header {
	padding: 10px;
	/*margin: 0 auto;*/
	/*width: 95%;*/
	text-align: center;
	clear: both;
}

li.forums-tab {
	display: inline;
}

li.forums-tab a {
	display: inline;
	/*border: 1px solid #ccc;*/
	/*background: #EEE;*/
	background: #FAFAFA;
	/*float: left;*/
	margin: 0px 5px 0px 5px;
	padding: 5px 7px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0px 5px 0px 5px;
	border: 1px solid #CCCCCC;
}

li.forums-tab a:hover {
	background: #EAEAEA;
	color: #111;
	border: 1px solid #666;
}
/*
li.forums-tab.selected a{
	color: #555;
	font-weight: bold;
	border-bottom: none;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px;
	padding-bottom: 15px;
}

li.forums-tab.selected a:hover {
	background: #FAFAFA;
	border: 1px solid #666;
	border-bottom: none;
}
*/
li.forums-tab.selected a{
	/*background: none repeat scroll 0 0 transparent;*/
   	/*border: medium none;*/
   	border: 1px solid #999;
    color: #555555;
    font-weight: bold;
	padding: 7px 9px;
}

li.forums-tab.selected a:hover {
	background: #FAFAFA;
}

div#bottom-button{
/*	padding: 2px;*/
    float: right;
    padding-top: 5px;
}

/*
ul#forums-header li:first-child {
	margin-left: 20px;
}
*/
table {
	width: 100%;
}

table thead tr {
	background: #eaeaea;
}

table#message-threads {
	margin: 0 -20px;
	width: auto;
}

table.profile-fields {
	margin-bottom: 20px;
}

div#sidebar table {
	margin: 0 -16px;
	width: 117%;
}

table tr th {
	padding: 8px;
	vertical-align: middle;
}

table tr td {
	/*padding: 15px 8px;*/
	padding: 5px 3px;
	vertical-align: middle;
}

table tr td.label {
	border-right: 1px solid #eaeaea;
	font-weight: bold;
	width: 25%;
}

table tr td.thread-info p {
	margin: 0;
}

table tr td.thread-info p.thread-excerpt {
	color: #888;
	font-size: 11px;
	margin-top: 3px;
}

div#sidebar table td,table.forum td {
	text-align: center;
}

table.forum-loop { /*margin: 5px -19px 5px -19px;*/
	/*  margin: -9px -20px 20px -20px; */
	width: auto;
}

table.forum-loop tr.alt { /* managed by background secondary */
	/*background: #f4f4f4;*/
	
}

/*

*/
table.forum-loop tr.sticky{
	background: #FFF9DB;
	border-top: 1px solid #FFE8C4;
	border-bottom: 1px solid #FFE8C4;
}
table.forum-loop tr.deleted{
	background: #FDD;
	border-top: 1px solid #F99;
	border-bottom: 1px solid #F99;
}
/*
.deleted {
	background-color: #F99;	
}*/
/*
table.forum-loop tr.sticky td {
	background: #FFF9DB;
	border-top: 1px solid #FFE8C4;
	border-bottom: 1px solid #FFE8C4;
}
*/
/*
    table.forum-loop tr.closed td.td-title {
        padding-left: 35px;
        background-image: url( ../images/closed.png );
        background-position: 15px 50%;
        background-repeat: no-repeat;
    }
*/
table.forum-loop td p.topic-text {
	color: #888;
	font-size: 11px;
}

table.forum-loop tr>td:first-child,table.forum-loop tr>th:first-child {
	padding-left: 15px;
}

table.forum-loop tr>td:last-child,table.forum-loop tr>th:last-child {
	padding-right: 15px;
}

table{
	text-align: left;
}
/*
table.forum-loop tr th#title,table.forum-loop tr th#poster,table.forum-loop tr th#group,table.forum-loop td.poster,table.forum-loop td.group,table.forum-loop td.title
	{
	text-align: left;
}*/

table.forum-loop td.td-freshness {
	font-size: 11px;
	color: #888;
}

table.forum-loop td img.avatar {
	margin-right: 5px;
	vertical-align: middle;
}

table.forum-loop td.poster,table.forum-loop td.group {
	min-width: 130px;
}

table.forum-loop th#title {
	width: 35%;
}

/*
table.forum-loop th#author {
	width: 1%;
}

table.forum-loop th#latest-poster {
	width: 1%;
}
*/
table.forum-loop th#postcount {
	width: 1%;
}

table.forum-loop th#freshness {
	width: 1%;
}

table.forum-loop td.author .author-name,table.forum-loop td.latest-poster .lastposter-name
	{
	display: inline;
	vertical-align: middle;
}