@CHARSET "ISO-8859-1";

form.login-form {
	padding: 8px;
}

form.login-form .label_error {
	display: block;
}

form.login-form .field_container {
	
}

form.login-form label {
	font-weight: bold;
	margin: 15px 0 5px 0;
	text-align: left;
	width: 100%;
	display: inline;
}

form.login-form input[type="text"] {
	width: 75%;
}

form.login-form textarea {
	width: 75%;
	height: 120px;
}
form.login-form textarea,form.login-form input[type=text],form .login-formselect,form.login-form input[type=password] {	
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 2px;
	font: inherit;
	font-size: 14px;
	color: #777;
	margin: 2px 0px;
}