@CHARSET "ISO-8859-1";

form.profile-edit-username-form label{
	width: 200px;
}
form.profile-edit-username-form input[type=submit] {
	margin-left: 205px;
}

form.profile-edit-password-form {
	padding: 8px;
}

form.profile-edit-password-form .label_error {
	display: block;
}

form.profile-edit-password-form .field_container {
	
}
/*
form.profile-edit-password-form input[type=submit] {
	margin-left: 105px;
}*/

form.profile-edit-password-form label { /*font-weight: none;
	margin: 15px 0 5px 0;
	text-align: left;
	width: 100px;
	display: inline;*/
	
}

form.profile-edit-password-form input[type="text"],form.profile-edit-password-form input[type="password"]
	{ /*width: 75%;*/
	margin-left: 5px;
	vertical-align: middle;
}

/*
form.profile-edit-password-form textarea {
	width: 75%;
	height: 120px;
}
*/
form.profile-edit-password-form .field_container {
	margin-bottom: 6px;
}

form.profile-edit-password-form span.error_message.active {
	/*display: inline-block;*/
	margin: 0;
	margin-left: 105px;
	padding: 4px;
}