@CHARSET "ISO-8859-1";

.button {
	background: url( ../img/white-grad.png ) top left repeat-x;
	border: 1px solid #ddd;
	padding: 3px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	color: #888;
	font-size: 12px;
	font-weight: normal;
	vertical-align: bottom;
	cursor: pointer;
}

.rounded-box {
	border: 1px solid #eee;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #fafafa;
}

.margined {
	margin: 10px 0 20px 0;
}

div.rounded-box.padded {
	padding: 8px;
}

body {
	width: 90%;
	min-width: 960px;
	max-width: 1250px;
	margin: 0 auto;
	font-family: Arial, Tahoma, Verdana, sans-serif;
}

div#container {
	line-height: 170%;
	margin: 0 auto;
	width: 80%;
}

h1,h2,h3,h4,h5,h6 {
	margin: 5px 0 15px 0;
}

h1 {
	font-size: 28px;
	margin-bottom: 25px;
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
	margin-bottom: 15px;
}

h5 {
	font-size: 14px;
	margin-bottom: 0;
}

h6 {
	font-size: 12px;
	margin-bottom: 0;
}

a { /* default color for each link */
	color: #1FB3DD;
	text-decoration: none;
}

.background_primary {
	background: #ddd;
}

.background_secondary {
	background: #ededed;
}

.base_color {
	background: #bbb;
}

.color_primary {
	background: #bbb;
}

.color_secondary {
	background: #ddd;
}