@CHARSET "ISO-8859-1";

form label {
	display: inline-block;
	width: 100px;
	text-align: right;
	font-weight: normal;
}

form input[type="text"],.generic_form input[type="password"] {
	text-align: left;
	/*width: 150px;*/
	font-weight: normal;
}

form textarea,form input[type=text],form select,form input[type=password]
	{
	border: 1px dashed #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 4px;
	font: inherit;
	/*font-size: 14px;*/
	color: #777;
	margin: 2px 0px;
}

form div.block {
	clear: both;
	margin-bottom: 3px;
}

form div.semi_block_right {
	clear: both;
	margin-left: 104px;
	margin-bottom: 3px;
}

form span.error_message {
	font-size: 12px;
	padding: 6px 9px;
	background: none repeat scroll 0 0 #FFF9DB;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px dashed #FFA200;
	color: #FFA200;
	/*display: inline-block;*/
	font-weight: normal;
	text-decoration: none;
	margin-left: 6px;
	display: none;
}

form span.error_message.active {
	display: inline;
}