@CHARSET "ISO-8859-1";

form.lost-password-form {
	padding: 8px;
}

form.lost-password-form .label_error {
	display: block;
}

form.lost-password-form .field_container {
	
}

form.lost-password-form input[type=submit] {
	margin-left: 105px;
}

form.lost-password-form label { /*font-weight: none;
	margin: 15px 0 5px 0;
	text-align: left;
	width: 100px;
	display: inline;*/
	
}

form.lost-password-form input[type="text"],form.lost-password-form input[type="password"]{
	width: 250px;
	margin-left: 5px;
	vertical-align: middle;
}

/*
form.lost-password-form textarea {
	width: 75%;
	height: 120px;
}
*/
form.lost-password-form .field_container {
	margin-bottom: 6px;
}

form.lost-password-form span.error_message.active {
	/*display: inline-block;*/
	margin: 0;
	margin-left: 105px;
	padding: 4px;
}