@CHARSET "ISO-8859-1";

form.post_form {
	/*padding: 8px;*/
	padding: 0px;
}

form.post_form .label_error {
	display: block;
}

form.post_form .field_container {
	
}

form.post_form label {
	font-weight: bold;
	margin: 15px 0 5px 0;
	text-align: left;
	width: 100%;
	display: inline;
}

form.post_form input[type="text"] {
	width: 75%;
}

form.post_form.post_edit textarea {
	width: 98.7%;	
	/*width: 75%;*/
	height: 55px;
}

form.post_form.post_create textarea {
	width: 98.7%;
	height: 55px;
}

form.post_form input[type=submit] {
	margin-top: 5px;
}