@CHARSET "ISO-8859-1";

table.profile-container {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

table.profile-container td.profil-avatar-column {
	padding: 8px;
	padding-right: 16px;
	text-align: right;
	width: 110px;
}

table.profile-container td.vertical-bar {
	border-left: 1px solid black;
	min-width: 1px;
	max-width: 1px;
}

table.profile-container td.profil-content-column {
	padding: 8px;
	padding-left: 24px;
	vertical-align: top;
	/*width: 99%;*/
}
