@CHARSET "ISO-8859-1";

table.profile-container {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

table.profile-container td.profil-avatar-column {
	padding: 8px;
	padding-right: 16px;
	text-align: right;
	width: 110px;
}

table.profile-container td.vertical-bar {
	border-left: 1px solid black;
	min-width: 1px;
	max-width: 1px;
}

table.profile-container td.profil-content-column {
	padding: 8px;
	padding-left: 24px;
	vertical-align: top;
	/*width: 99%;*/
}

table.profile-container #last_modification {
	color: #ccc;
	font-size: 80%;
	margin-top: 25px;
}

table.profile_information #description .label, table.profile_information #objectives .label, table.profile_information #hobbies .label{
	margin: 20px 0 0 0;
}


.label{
	display: inline-block;
	width: 100px;
	text-align: right;
	padding-right: 10px;
}

#quote{
	margin: 35px auto 10px;
	width: 70%;
	text-align: justify;
}

#quote div{
	vertical-align: top;
}
#quote .start_quote {
	display: inline-block;
	width: 16px;
	height: 30px;
	background: transparent url('../img/up_apo.png') no-repeat;
}
#quote .end_quote {
	display: inline-block;
	width: 16px;
	height: 30px;
	background: transparent url('../img/down_apo.png') no-repeat;
}

#quote .symbol {
	font-size: 24px;
	font-family: Rosewwod;
}

tr#hobbies ul{
	list-style: circle inside none;
}

.profile-ask-creation{
	width: 100px;
	text-align: right;
}

.tool_links{
	margin-top: 25px;
	font-size: 90%;
}
.tool_links a{
	display: block;
}