@CHARSET "ISO-8859-1";

form.topic-form {
	padding: 8px;
}

form.topic-form .label_error {
	display: block;
}

form.topic-form .field_container {
	
}

form.topic-form label {
	font-weight: bold;
	margin: 15px 0 5px 0;
	text-align: left;
	width: 100%;
	display: inline;
}

form.topic-form input[type="text"] {
	width: 75%;
}

form.topic-form textarea {
	width: 75%;
	height: 120px;
}

/** perhaps could be available for every form */
form.topic-form input[type="submit"]{
	margin-top: 5px;
}